.btn {
  color: white;
  border-radius: 5px;
  background-color: lightblue;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: paleturquoise;
}

.btn-wrap {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-wrap span {
  width: 30%;
}

#export-btn {
  background-color: #04ab46;
}

.cell.header {
  text-align: center;
  background: #ddd;
}

.cell.header.active {
  background-color: lightblue;
  color: white;
}

.cell-row {
  display: flex;
}

.cell {
  width: 80px;
  height: 40px;
  border: 1px solid lightgray;
  outline: none;
  box-sizing: border-box;
}

.spread-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

#cell-status {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}
